
.ipynb_checkpoints/demo-matematiske_funksjonar-checkpoint.ipynb
.ipynb_checkpoints/MatematiskeFunksjonar-checkpoint.ipynb
.ipynb_checkpoints/trekanttal-checkpoint.ipynb
Demo - curve_fit/.ipynb_checkpoints/Curve_fit-checkpoint.ipynb
Demo - pandas og polyfit/.ipynb_checkpoints/Innlesing_av_data-checkpoint.ipynb
Demo - pandas og polyfit/.ipynb_checkpoints/kaffi-og-vatn-checkpoint.txt
